---
layout: default
---
<div class="bg-header">
  {% include header.html %}
</div>

<div class="content-post">
  <div class="size margin">
  <div class="">
  {% for post in site.categories.flex %}
  <a href="{{ site.baseurl }}{{ post.url }}" class="list-item container" data-aos="fade-up" data-aos-offset="0" data-aos-delay="100">

    <div class="list-item-icon container align-items-center justify-content-center">
      <span class="feather-icon icon-{{post.icon}}" data-aos="fade-right" data-aos-offset="0" data-aos-delay="500"></span>
    </div>

    <div class="flex-grow-1">
      <div class="" data-aos="fade-up" data-aos-delay="600" data-aos-offset="0">
        <h2 class="list-post-title">
        {{ post.title }}
        </h2>
      </div>
    </div>
  </a>
  {% endfor %}
	  <div class="list-item-icon container align-items-center justify-content-center">
        <span class="" data-aos="fade-right" data-aos-offset="0" data-aos-delay="500"></span>
      </div>
	  <div class="flex-grow-1">
        <div class="" data-aos="fade-up" data-aos-delay="600" data-aos-offset="0">
          <h2 class="list-post-title">
		    New hires in Beijing
          </h2>
        </div>
	  </div>
	  <div class="list-item-icon container align-items-center justify-content-center">
        <span class="" data-aos="fade-right" data-aos-offset="0" data-aos-delay="500"></span>
      </div>
	  <div class="flex-grow-1">
        <div class="" data-aos="fade-up" data-aos-delay="600" data-aos-offset="0">
          <h2 class="list-post-title">
		    New hires in Shanghai
          </h2>
        </div>
	  </div>
  </div>
  </div>
</div>
